<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<button type="button" name={{pet1}}>
    <!-- this sends the user to a totally diff page-->
    <a href="images/dog.gif">{{pet1}}</a>
</button>

<button type="button" name={{pet2}}>
    <a href="images/kitten.gif">{{pet2}}</a>
</button>



